body {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: FancyTitle;
    src: url(Tangerine/Tangerine-Regular.ttf);
}
.fancy-title {
    font-family: FancyTitle, sans-serif;
    font-size: 50px;
    text-shadow: 4px 4px 4px #aaa;
}
.fancy-salutation {
    font-family: FancyTitle, sans-serif;
    font-size: 30px;
}

@font-face {
    font-family: MainText;
    src: url(EBGarmond/EBGaramond-VariableFont_wght.ttf);
}
.hpad {
    padding-left: 20px;
    padding-right: 20px;
}
.vpad {
    padding-top: 20px;
    padding-bottom: 20px;
}
.sub-title {
    font-family: MainText, serif;
    font-size: 26px;
    color: #333;
}
.focus-letter {
    font-size: 26px;
}
.main-text {
    font-family: MainText, serif;
    font-size: 19px;
    color: #000;
    background-color: #ccc;
}
.attribution {
    font-family: MainText, serif;
    font-size: 19px;
    color: #333;
    text-align: right;
}